@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Black+Ops+One&family=Dancing+Script:wght@700&family=Merriweather:wght@300&family=Montserrat:ital,wght@0,900;1,100;1,400&family=Noto+Sans+JP:wght@300&family=Noto+Sans+NKo+Unjoined:wght@400;700&family=Pixelify+Sans:wght@500&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Montserrat';
    background: linear-gradient(
        to   right ,
        #a10051,#380046,rgb(0, 64, 97)
        
        );
        color: #ffffff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.search{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search i{
    font-size: 25px;
    color: #ffffff;
}
.search-txt{
    display: flex;
    align-items: center;
}
.search-txt i {
    font-size: 40px;
    color: rgb(255, 0, 0);
}
.search-txth2{
    color: #ffffff;
    font-size: 30px;
    margin-left: 10px;
}
.series h2{
font-size: 25px;
font-weight: 400;
margin-bottom: 20px;
}

.swiper {
    width: 100%;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 250px;
}
.swiper-slide img{
    display: block;
    width: 100%;
}
.swiper-slide h5 {
    position: absolute;
    top: 386px;
    margin-left: 2rem;
    font-size: 20px;
}
.icons{
    padding: 0px 150px 10px 150px;
    display: flex;
    justify-content: space-between;
}
.icons i{
    font-size: 35px;
    color: #ffffff;
    padding: 30px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons   :hover {
    color: #ff0000;
    background-color: #ffffff;
    box-shadow:  0 0 20px #0b0011;
    cursor: pointer;
}
@media (max-width:991px) {
    body{
        min-height: 0vh;
    }
    .search{
        padding: 30px 30px 0 30px;
    }
    .series{
        padding: 30px;
    }
    .icons{
        padding: 30px;
    }
}