@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Black+Ops+One&family=Dancing+Script:wght@700&family=Merriweather:wght@300&family=Montserrat:ital,wght@0,900;1,100;1,400&family=Noto+Sans+JP:wght@300&family=Noto+Sans+NKo+Unjoined:wght@400;700&family=Pixelify+Sans:wght@500&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Montserrat';
    background: linear-gradient(
        to   right ,
        #450023,#18001e,rgb(0, 39, 59)
        
        );
        color: #ffffff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-box{
    display: flex;
    justify-content: center;
}
.slider-box{
    height: auto;
   max-width: 1280px;
    margin: 50px ;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    width: 400%;
    animation: slide 25s infinite alternate ease-in-out;
}
.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.slider-box img{
    width:  60rem;
    height: 84%;
    object-fit: cover;
}
@keyframes slide {
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.heder-box{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 999;
    justify-content: space-around;
    background-color: #000000a3;
    height: 70px;
    width: 100%;
}
.heder-box ul{
    display: flex;
    padding: 20px 20px 20px 20px;
}
summary {
padding: 16px;
cursor: pointer;
}
.heder-box a {
    padding-left: 24px;
    font-size: 20px;
    color: #ffffff;
}
.heder-box a:hover{
color: #9302b8;
}
.menu-categories {
    display: flex;
    background-color: #000000bf;
    text-align: center;

}
.series h2{
font-size: 25px;
font-weight: 400;
margin-bottom: 20px;
}

.swiper {
    width: 100%;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 250px;
}
.swiper-slide img{
    display: block;
    width: 100%;
}
.overlay{
    background:  #000000c4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: scroll;
    transition: all 1s ease;
}
.overlay h2{
    padding: 10px;
    font-family:Arial;
    font-weight: 300;
    font-size: 17px;
    color: #ffffff;
    transform: translate(-70% 20%);
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0;
}
.swiper-slide:hover .overlay{
    height: 85%;
    cursor:pointer
    
}
.icons{
    padding: 0px 150px 10px 150px;
    display: flex;
    justify-content: space-between;
}
.icons i{
    font-size: 35px;
    color: #ffffff;
    padding: 30px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons   :hover {
    color: #ff0000;
    background-color: #ffffff;
    box-shadow:  0 0 20px #0b0011;
    cursor: pointer;
}
@media (min-width: 1280px) {
    .slider-box img {
        width: 78rem;
    }
    .heder-box img {
        width: 8rem;
         height: 8rem;
    }
}
@media (max-width:991px) {
    body{
        min-height: 0vh;
    }
    .search{
        padding: 30px 30px 0 30px;
    }
    .series{
        padding: 30px;
    }
    .icons{
        padding: 30px;
    }
    .slider-box{
        width: 100%;
        margin: 20px;

    }
    .texto{
        top: 50px;
        padding: 0;
    }
    .slider-box img {
        width: 35rem;
    }
    .heder-box a {
        padding: 10px;
}
.buscar-box h4{
    font-size: 6px;
    display: none;
}
.heder-box a {
    padding: 14px;
    font-size: 16px;
}
.heder-box {
    width: 100%;
}
.buscar-box input {
    height: 31px;
}
.btn-box {
        width: 41px;
        height: 41px;
        border-radius: 42%;
}
.buscar-box:hover input {
    width: 182px;
}
.heder-box a {
    font-size: 16px;
}
.heder-box{
    display: flex;
    transition: top 0.3s;
    background-color: #fff; 
    z-index: 999;
    justify-content: space-around;
    background-color: #000000a3;
    height: 70px;
    width: 100%;
}
.menu-categories{
    flex-wrap: wrap;
    width: 10rem;
}
}

@media (max-width: 620px) {
        .slider-box img {
            width: 24rem;
    }
    .menu-categories {
        flex-wrap: wrap;
    }
}
@media (max-width: 480px) {
    .slider-box img {
        width: 21rem;
}
.buscar-box input {
    height: 36px;
    width: 0;
}
.buscar-box:hover input{
    width: 39rem;
}
.buscar-box input :focus{
    width: 39rem;
}
.buscar-box {
    position: absolute;
    right: 1rem;
    top: 16px;
}
.btn-box {
    top: 0px;
    width: 47px;
    height: 47px;
}
.btn-box i{
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 29px;
}
.heder-box ul {
    padding: 19px 20px 20px 0px;
    position: absolute;
    top: 60px;
    left: 16px;
}
.menu-categories{
  position: relative;
  top: 32px;
  right: 3rem;
  background-color: #000000db;  
  width: 100%;
  flex-wrap: wrap;
}
.heder-box a {
    font-size: 16px;
}
summary{
    position: absolute;
    right: 0;
    left: 252px;
    top: 5px;
}
}
.menu-categories a{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}
.heder-box img {
    width: 5rem;
     height: 5rem;
}